<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About World Places</h2>
  <p>World Places is a project dedicated to explore:</p>
  <ul>
      <li>Atomic centers: Atomic research is carried out</li>
      <li>Space Center: Facilities for launching, tracking, or controlling satellites and space vehicles</li>
      <li>Abandoned populated places</li>
  </ul>
</div>
