<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>We hope you find exciting places here!</p>
  {{location-map location='Seattle'}}
  {{#link-to 'about' class="button"}}
    About Us
  {{/link-to}}
</div>
